@{
    ViewData["Title"] = "Home";
    ViewData["Bclass"] = "home";
    ViewData["Description"] = "Home do site BondGarfo, o dono dos melhores pratos! Venha conhecer nosso site e encontrar o melhor da gastronomia.";
}

<section class="home">
    <div class="fullbanner">
        <img src="https://i.postimg.cc/htd750hP/fullbanner.png" alt="Fullbanner BondGarfo">
    </div>
    <h1>
        Bem-vindo(a) ao <strong>BondGarfo!</strong>
    </h1>
    <p>
        Explore nosso cardápio irresistível e descubra uma variedade de pratos deliciosos para satisfazer seu paladar.
        De entradas saborosas a pratos principais suculentos e sobremesas tentadoras, temos opções para todos os gostos.

        Nossos ingredientes frescos e cuidadosamente selecionados garantem a qualidade em cada mordida. Experimente
        nossas criações culinárias únicas, preparadas por nossos talentosos chefs.

        Faça seu pedido agora e deixe o BondGarfo levar até você uma experiência gastronômica inesquecível. Delicie-se
        com o melhor da culinária em cada refeição.<br />

        <strong>Bom apetite!</strong>
    </p>
</section>