@{
    ViewData["Title"] = "Privacy Policy";
}

<section class="privacy">
    <h1>Política de Privacidade</h1>
    <article>
        <p>
            Na BondGarfo, valorizamos e respeitamos a sua privacidade. Esta política descreve como coletamos, usamos,
            protegemos
            e divulgamos as informações pessoais que você nos fornece ao usar nosso site.
        </p>
        <ul>
            <li>
                <h2 onclick="accordion(this)">Coleta de Informações</h2>
                <p>
                    Ao acessar nosso site, podemos coletar informações como seu nome, endereço de e-mail e preferências
                    alimentares para personalizar sua experiência.
                </p>
            </li>
            <li>
                <h2 onclick="accordion(this)">Uso das Informações</h2>
                <p>
                    Utilizamos suas informações pessoais para processar seus pedidos, fornecer um serviço personalizado,
                    enviar atualizações sobre promoções e melhorar nossos produtos e serviços.
                </p>
            </li>
            <li>
                <h2 onclick="accordion(this)">Proteção de Dados</h2>
                <p>
                    Implementamos medidas de segurança para proteger suas informações pessoais contra acesso não
                    autorizado,
                    uso indevido ou divulgação.
                </p>
            </li>
            <li>
                <h2 onclick="accordion(this)">Compartilhamento de Informações</h2>
                <p>
                    Não vendemos, alugamos ou compartilhamos suas informações pessoais com terceiros, a menos que seja
                    necessário para processar seu pedido ou conforme exigido por lei.
                </p>
            </li>
            <li>
                <h2 onclick="accordion(this)">Cookies</h2>
                <p>
                    Utilizamos cookies para melhorar sua experiência de navegação em nosso site. Você pode optar por
                    desabilitar os cookies nas configurações do seu navegador, mas isso pode afetar o funcionamento
                    adequado
                    do site.
                </p>
            </li>
            <li>
                <h2 onclick="accordion(this)">Links de Terceiros</h2>
                <p>
                    Nosso site pode conter links para sites de terceiros. Não nos responsabilizamos pelas práticas de
                    privacidade desses sites. Recomendamos que você revise suas políticas de privacidade antes de
                    fornecer
                    suas informações pessoais.
                </p>
            </li>
            <li>
                <h2 onclick="accordion(this)">Alterações na Política de Privacidade</h2>
                <p>
                    Reservamos o direito de atualizar esta política de privacidade a qualquer momento. As alterações
                    serão
                    publicadas em nosso site, por isso recomendamos que você revise regularmente esta página.
                </p>
            </li>
        </ul>
        <p>
            Ao utilizar nosso site, você concorda com esta política de privacidade. Se tiver alguma dúvida ou
            preocupação,
            entre
            em contato conosco. Sua privacidade é importante para nós e faremos o possível para protegê-la.
        </p>
    </article>
</section>